.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
}

@media screen and (max-width: 768px) {
  .logo {
    padding-left: 10%;
    padding-right: 10%;
  }
}
