.footer {
  padding-top: 5px;
  display: inline-flex;
  float: right;
  font-size: 10px;
  color: #fff;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.footer span img {
  width: 90px;
}
