/* CSS GLOBALE */

/* Imposta immagine di sfondo */
body {
  background-image: url("./components/Images/bg-03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

* {
  font-family: Consolas, "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

.energy-group {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding-top: 3em;
}

.benefits-group {
  padding-top: 4em;
  display: flex;
  flex-grow: 1;
}

.gauge-canvas {
  width: 300px;
  height: 180px;
}

.powerflow-group {
  padding-top: 4em;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 3em;
  margin-left: 7%;
  margin-right: 7%;
}

@media screen and (max-width: 768px) {
  .energy-group {
    flex-direction: column;
    gap: 0.5em;
    padding-top: 1em;
  }
  .benefits-group {
    padding-top: 1em;
    flex-direction: column;
    gap: 2em;
  }
  .powerflow-group {
    flex-direction: column;
    gap: 0.1em;
    padding-top: 2em;
  }
}
